# This file is needed for legacy support of runlevel autoyast profile

[Desktop Entry]
Type=Application
Categories=Settings;System;Qt;X-SuSE-YaST;X-SuSE-YaST-System;

X-KDE-ModuleType=Library
X-KDE-HasReadOnlyMode=true
X-KDE-Library=yast2
X-SuSE-YaST-Call=services-manager
X-SuSE-YaST-AutoInstClient=services-manager_auto

X-SuSE-YaST-Group=System
X-SuSE-YaST-Argument=
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-AutoInst=all
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=

Icon=yast-runlevel
Hidden=true
Exec=xdg-su -c "/sbin/yast2 services-manager"

Name=Services Manager
GenericName=Configure running services and the default target
StartupNotify=true
